@model IEnumerable<ShopBridge.Models.component>
<style>
    body {
        margin: 4rem 0;
    }

    h4 {
        margin-bottom: 2rem;
        margin-top: 3rem;
    }

    .panel {
        height: auto;
        width: 250px;
        border-radius: 0.2rem;
        padding: 1rem;
        margin-bottom: 0.2rem;
    }

  .panel.panel-purple {
            border: 1px solid #7f51f4;
            background-color: #dfccff;
            color: #7f51f4;
            text-align: center;
          
  }
  div{
      color:black;
      text-wrap:normal;
  }


    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        #myImg:hover {
            opacity: 0.7;
        }


    .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.9); 
    }


    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }



    .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

  
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #fcf9f9;
        font-size: 50px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

 
    @@media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>

<script type="text/javascript">

    function callpopUp(id) {
      
        var srcs = document.getElementById(id).src;

       
        var modal = document.getElementById("myModal");

       
        var img = document.getElementById(id);
        var modalImg = document.getElementById("img01");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
        }
       
        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }

    }

</script>

<div class="container">
    <h2>CoponentHomePage</h2>

    <p>
        @Html.ActionLink("Create New", "AddComponent")
    </p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-2">
                <div class="panel panel-purple">
                    <div>
                        <img alt="@item.Name" style="width:150px" id="@item.ID" onclick="callpopUp(this.id)"
                             src="data:image/jpg;base64,@Convert.ToBase64String(item.Image)" />
                    </div>
                    <div><h6> Name:@Html.DisplayFor(modelItem => item.Name)</h6></div>
                    <div>Disciption:@Html.DisplayFor(modelItem => item.Discription)</div>
                    <div><h6>Price:@Html.DisplayFor(modelItem => item.Price)</h6></div>
                </div>
            </div>
        }
    </div>

</div>



    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
    </div>
